<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerydatetime")
    @Scripts.Render("~/bundles/jqueryui")
</head>
<body>

    <div id="sidebar">
        <ul>
            <li class="title">Bezoekers</li>
            <li>@Html.ActionLink("Reserveren", "Step1", "Reservation")</li>
            <li class="title">Beheer</li>
            <li>@Html.ActionLink("Films", "Index", "Movie")</li>
            <li>@Html.ActionLink("Kortingscodes", "Index", "Voucher")</li>
            <li>@Html.ActionLink("Zalen", "Index", "Room")</li>
        </ul>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <span class="clear"></span>
    @RenderSection("scripts", required: false)
</body>
</html>
