﻿@model Prog5Assessment.Models.Reservation

@{
    ViewBag.Title = "Step1";
}

<h2>Step1</h2>
<p style="color: red">@ViewData["ErrorMessage"]</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Reservation</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Guests)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Guests)
            @Html.ValidationMessageFor(model => model.Guests)
        </div>

        <p>
            <input type="submit" value="Step 2" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}