﻿@model Prog5Assessment.Models.Reservation

@{
    ViewBag.Title = "Step5";
}

<h2>Step5</h2>
<p style="color: red">@ViewData["ErrorMessage"]</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Reservation</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PriceTotal)
        </div>
        <div>
            @{
                
                int TotalPrice = (int)ViewData["TotalPrice"];
                int TotalPriceNoDiscount = (int)ViewData["TotalPriceNoDiscount"];
                int Discount = (int)ViewData["reservationDiscount"];
                
                <table>
                    <tr>
                        <td>
                            Price:
                        </td>
                        <td>
                            @TotalPriceNoDiscount
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Korting:
                        </td>
                        <td>
                            @Discount
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Total:
                        </td>
                        <td>
                            @TotalPrice
                        </td>
                    </tr>
                </table>
            }
        </div>


        <p>
            <input type="submit" value="Bevestigen" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}