@model Prog5Assessment.Models.Booking

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Booking</legend>

        @Html.HiddenFor(model => model.Id)
        <div class="editor-label">
            Select your desired room: 
        </div>
        <div class="editor-field">
            <!-- hoe kan ik hier een dropdown menu krijgen van alle beschikbare kames? -->
        </div>

        @for (int i = 0; i < 5 /* MaxPersons */; i++)
        {
            
            <!-- hoe kan ik hier alle gasten laten aanmaken/invullen/weergeven -->
            <div class="editor-label">
                <!-- Html.LabelFor(new Prog5Assessment.Models.DatabaseSetup().Guest.FirstName); dit werkt niet -->
            </div>
            <div class="editor-field">

            </div>
            <div class="editor-label">

            </div>
            <div class="editor-field">

            </div>
            <div class="editor-label">

            </div>
            <div class="editor-field">

            </div>
            <div class="editor-label">

            </div>
            <div class="editor-field">

            </div>
            <div class="editor-label">

            </div>
            <div class="editor-field">

            </div>
            <div class="editor-label">

            </div>
            <div class="editor-field">

            </div>
            <div class="editor-label">

            </div>
            <div class="editor-field">

            </div>
            <div class="editor-label">

            </div>
            <div class="editor-field">

            </div>
            <div class="editor-label">

            </div>
            <div class="editor-field">

            </div>
            <div class="editor-label">

            </div>
            <div class="editor-field">

            </div>
        }



        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InvoiceAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InvoiceAddress)
            @Html.ValidationMessageFor(model => model.InvoiceAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccountNr)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccountNr)
            @Html.ValidationMessageFor(model => model.AccountNr)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
