@model IEnumerable<Prog5Assessment.Models.Booking>

@{
    ViewBag.Title = "Overview2";
}

<h2>Overview2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressStreetNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressPostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceAddressStreetNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceAddressPostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceAddressStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceAddressPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceAddressCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNr)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if(item.StartDate >= )
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressStreetNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressPostal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceAddressStreetNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceAddressPostal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceAddressStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceAddressPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceAddressCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNr)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
